extend _layout
block meta_tags
	meta(name="title", content=title)
	meta(name="description", content="Trevor Phillippi is a product designer from Philadelphia, studying at Rensselaer, passionate about using design to solve meaningful human problems, and learning the technology necessary to implement it.")
	
	meta(property="og:title", content="Trevor Phillippi, Designer")
	meta(property="og:type", content="website")
	meta(property="og:site_name", content="Trevor Phillippi, Product Designer")
	meta(property="og:description", content="Trevor Phillippi is a product designer from Philadelphia, studying at Rensselaer, passionate about using design to solve meaningful human problems, and learning the technology necessary to implement it.")
	meta(property="og:image", content="https://s3-us-west-2.amazonaws.com/new-portfolio/images/site-photo-2.jpg")
	meta(property="article:author", content="tjphilli")
block content
	.intro
		.internal
			.intro-copy.wow.fadeIn(data-wow-duration="0.3s")
				p <strong> Trevor Phillippi is a product designer</strong> passionate about using design to solve meaningful human problems, and learning the technology necessary to implement it.
				p Code is the craft of digital products—learning how to make things opens one’s eyes to the things that need to be made.
				p Selected work is below.
	section.work#work
		.internal.internal--medium-only
			article.project-preview.picks.project-preview--mobile-app
				.project-preview-text.wow.fadeIn(data-wow-delay="0.3s")
					h1.project-preview-title Picks
					p.project-preview-body Picks is an iOS app designed to help you choose your favorite photos to share and get rid of the rest. Picks was made in a weekend at PennApps Winter 15 and placed in the top ten.
					.project-preview-action-container
						a(href="projects/picks").btn.btn--view-more.project-preview-action
							span View More
							i.icon-arrow-right
					.tag IXD/Visual Design, Obj-C/Pop
				.project-preview-image.wow.fadeIn(data-wow-delay="0.2s")
					.project-preview-image-wrapper
						img(src="#{url_base}images/picks-preview.png", width="400", alt="A preview of the app Picks for iPhone")
			article.project-preview.l-flipped.project-preview--mobile-app.trump
				.project-preview-text.wow.fadeIn(data-wow-delay="0.2s")
					h1.project-preview-title Trump
					p.project-preview-body Trump is a social game made natively for iOS. Trump won at PennApps Spring 2014, a Division 1 Hackathon, placing in the top ten projects out of several hundred. I designed and help build it.
					.project-preview-action-container
						a(href="projects/trump").btn.btn--view-more.project-preview-action
							span View More
							i.icon-arrow-right
					.tag IXD/Visual Design, Obj-C
				.project-preview-image.wow.fadeIn
					.project-preview-image-wrapper
						img(src="#{url_base}images/trump-preview.png", width="400", alt="A preview of the Trump mobile app")
			article.project-preview.wwm
				.project-preview-text.wow.fadeIn(data-wow-delay="0.2s")
					h1.project-preview-title Walk With Me
					p.project-preview-body Walk With Me is an iOS app designed to help address personal safety issues. Walk With Me was designed and built in a weekend at PennAppsX and won top prizes from Facebook &amp; Uber.
					.project-preview-action-container
						a(href="projects/walk-with-me").btn.btn--view-more.project-preview-action
							span View More
							i.icon-arrow-right
					.tag IXD/Visual Design, Obj-C/Pop Animation
				.project-preview-image.wow.fadeIn
					img(src="#{url_base}images/wwm-preview.png", alt="A preview of the Walk With Me mobile app").only.only--medium-up
					img(src="#{url_base}images/wwm-preview-small.png", alt="A preview of the Walk With Me mobile app").only.only--medium-down
			article.project-preview.l-flipped.sis.project-preview--web-app.dlixd
				.project-preview-text.wow.fadeIn(data-wow-delay="0.2s")
					h1.project-preview-title Dlixd
					p.project-preview-body Dlixd is a concept in its very early stages that I'm developing for my thesis project. The purpose of the project is to curate and analyze delightful details in design.
					.project-preview-action-container
						a(href="projects/dlixd").btn.btn--view-more.project-preview-action
							span View More
							i.icon-arrow-right
					.tag IxD/Visual Design
				.project-preview-image.wow.fadeIn
					.project-preview-image-wrapper
						img(src="#{url_base}images/dlixd-preview.png", width="571", alt="A preview of the dlixd website")
			article.project-preview.gutenberg.project-preview--web-app
				.project-preview-text.wow.fadeIn(data-wow-delay="0.2s")
					h1.project-preview-title Gutenberg
					p.project-preview-body Gutenberg is an experimental type tester for learning and playing with web typography. Built in AngularJS and Node.js. It’s a  for print designers and beginner developers to explore.
					.project-preview-action-container
						a(href="projects/gutenberg").btn.btn--view-more.project-preview-action
							span View More
							i.icon-arrow-right
					.tag IXD/Visual Design, Node/AngularJS
				.project-preview-image.wow.fadeIn
					.project-preview-image-wrapper
						img(src="#{url_base}images/gutenberg-preview.png", width='571', alt="A preview of the Gutenberg web application")
			article.project-preview.l-flipped.resumazing.project-preview--web-app
				.project-preview-text.wow.fadeIn(data-wow-delay="0.2s")
					h1.project-preview-title Resumazing
					p.project-preview-body Resumazing helps job seekers get noticed by offering feedback on their resumes powered by big data and machine learning. I designed our site and product, and built both.
					.project-preview-action-container
						a(href="projects/resumazing").btn.btn--view-more.project-preview-action
							span View More
							i.icon-arrow-right
					.tag IxD/Visual Design, HTML/CSS, AngularJS
				.project-preview-image.wow.fadeIn
					.project-preview-image-wrapper
						img(src="#{url_base}images/resumazing-preview.png", width="571", alt="A preview of the Resumazing web site")
			article.project-preview.bathchat.project-preview--mobile-app
				.project-preview-text.wow.fadeIn(data-wow-delay="0.2s")
					h1.project-preview-title Bathchat
					p.project-preview-body Bathchat was built for Software Design &amp; Documentation at Rensselaer. Bathchat explores the pensive nature of the bath through a unique sharing experience.
					.project-preview-action-container
						a(href="projects/bathchat").btn.btn--view-more.project-preview-action
							span View More
							i.icon-arrow-right
					.tag IXD/Visual Design
				.project-preview-image.wow.fadeIn
					.project-preview-image-wrapper
						img(src="#{url_base}images/bathchat-preview.png", width="400", alt="A preview of the revolutionary Bathchat mobile application")
			article.project-preview.l-flipped.sis.project-preview--web-app.sis
				.project-preview-text.wow.fadeIn(data-wow-delay="0.2s")
					h1.project-preview-title SIS 2.0
					p.project-preview-body The “Student Information System” at Rensselaer is notoriously bad. For an HCI class, I decided to redesign the system around course planning and scheduling, and build a sample Angular app.
					.project-preview-action-container
						a.btn.btn--coming-soon.project-preview-action More Info Coming
					.tag IxD/Visual Design, HTML/CSS, AngularJS
				.project-preview-image.wow.fadeIn
					.project-preview-image-wrapper
						img(src="#{url_base}images/sis-preview.png", width="571", alt="A preview of the SIS 2.0 web application")
			article.project-preview.project-preview--web-app.cdta
				.project-preview-text.wow.fadeIn(data-wow-delay="0.2s")
					h1.project-preview-title CDTA Redesign
					p.project-preview-body I worked to redesign the Capital District Transportation Authority’s existing desktop and mobile web site as a responsive site while working for Troy Web Consulting.
					.project-preview-action-container
						a(href="projects/cdta").btn.btn--view-more.project-preview-action
							span View More
							i.icon-arrow-right
					.tag IXD/Visual Design
				.project-preview-image.wow.fadeIn
					.project-preview-image-wrapper
						img(src="#{url_base}images/cdta-preview.png", width='571', alt="A preview of the Capital District Transportation Authority’s redesign")
	section.writing-previews#writings
		.internal
			h3 Selected Writing
			article.writing-preview
				h1 Code as Craft
				.writing-preview-tags
					span.label posted in 
					span.tags design, craft
				p.writing-preview-text A long time ago, architects worked side-by-side with craftspeople on construction projects, called &ldquo;Master Builders&rdquo;. We can learn a lot from this process.
				a(href="writings/code-as-craft").btn.btn--view-more.project-preview-action
					span Read More
					i.icon-arrow-right
			article.writing-preview
				h1 Designing for Disparity
				.writing-preview-tags
					span.label posted in 
					span.tags design, development
				p.writing-preview-text How do we balance the desire to innovate and move forward with the need to consider underprivileged users? What living in Ethiopia taught me about Product Design.
				a(href="writings/designing-for-disparity").btn.btn--view-more.project-preview-action
					span Read More
					i.icon-arrow-right
block footer_scripts
	<script type="text/javascript">new WOW().init();</script>
